
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

h2, h3 {
  color: #1f2937;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  width: 40%;
  font-size: 14px;
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  padding: 8px 14px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #1d4ed8;
}
.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-header h3 {
  margin: 0;
  font-size: 18px;
  color: #111827;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: block;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.job-info {
  max-width: 65%;
}

.job-info h4 {
  margin: 0;
  color: #111827;
  font-size: 18px;
}

.job-info p {
  margin: 5px 0 0 0;
  color: #6b7280;
  font-size: 14px;
}

.job-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.applicants-section h3{
  color:#f5f7fa;
}
.applicants-section ul {
  list-style: none;
  padding: 0;
}

.applicants-section li {
  margin-bottom: 8px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.03);
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.input-group button{
    width: 90px;
    padding:2px;
    height: 35px;
}

.job-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.job-card h3 {
  margin: 0;
  color:#111827;
}

.job-card p {
  color: #666;
  margin: 10px 0 15px;
}


.applicants-section {
  margin-top: 40px;
  background: #1e3a8a;
  padding: 20px;
  border-radius: 10px;
}
